# Python & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
venv/
.venv/
env/
ENV/
lawbot/

# IDE & System
.vscode/
.idea/
.DS_Store
Thumbs.db

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Ignore heavy/unnecessary folders when pushing to Git
report/
notebooks/
demo/
slide/
